doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UX-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="author", content="Junwei Zhao")
    link(rel='icon', href='/images/favicon.ico')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/journal.css')
    link(rel='stylesheet', href='/bootstrap/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-social.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--[if lt IE 9]>
    script(src='/javascripts/dist/html5shiv.min.js')
    script(src='/javascripts/dist/html5shiv-printshiv.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

  body
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') ReviewU
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li
              a(href='/about') About
            if user
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span #{user.name}
                  span &nbsp;
                  span.caret
                ul.dropdown-menu
                  li
                    navbar-login
                      row
                        .col-xs-4
                          p.text-center
                            span.glyphicon.glyphicon-user.icon-size
                        .col-xs-8
                          p.text-left
                            strong #{user.name}
                          p.text-left.small #{user.email}
                  li.divider.navbar-login.session.bg
                  li.navbar-login-session-bg
                    .navbar-login.navbar-login-session
                      row
                        col-lg-12
                          p
                            a.btn.btn-danger.btn-block(href="/logout") Logout
            else
              li
                a(href='#registerModal' data-toggle="modal") SignUp
              li
                a(href='#loginModal' data-toggle="modal") LogIn
    .container
      block content
      hr
    footer.container
      .row
        .col-xs-12.col-sm-6.col-md-4
          h5 Navgation
          .hline
          ul.list-inline.list-group
            li
              a.list-group-item(href='/') Home
            li
              a.list-group-item(href='/about') About
            li 
              a.list-group-item(href='#') Search
            li
              a.list-group-item(href="#") #ReviewU
        .col-xs-12.col-sm-6.col-md-4
          h5 About Junwei
          .hline
          h6 Fullstack Developer
          h6 Email: blairzhao111@gmail.com, jzhao34@buffalo.edu
          h6 
            a(href="https://blairzhao111.github.io", target="_blank") Online Resume
        .col-xs-12.col-sm-6.col-md-4
          h5 Contact
          .hline
          row
            .col-xs-5
              button.btn.btn-primary.btn-block(data-toggle="modal", data-target="#messageMeModal") Message Me!
            .col-xs-7
              ul.list-inline
                li
                  a.btn.btn-sm.btn-social-icon.btn-twitter.disabled
                    span.fa.fa-twitter
                li
                  a.btn.btn-sm.btn-social-icon.btn-github(href="https://github.com/blairzhao111")
                    span.fa.fa-github
                li
                  a.btn.btn-sm.btn-social-icon.btn-linkedin(href="https://www.linkedin.com/in/junwei-zhao-0a9198b8")
                    span.fa.fa-linkedin
                li
                  a.btn.btn-sm.btn-social-icon.btn-reddit.disabled
                    span.fa.fa-reddit                    
      .row
        .col-xs-12
          p.small.text-center Copyright &copy; Junwei Zhao 2016 All rights reserved          
    include ./_includes/modals/loginModal
    include ./_includes/modals/registerModal
    include ./_includes/modals/messageMeModal
    a.backToTop(href="#")
      span.glyphicon.glyphicon-arrow-up Top
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(type="text/javascript").
      window.jQuery || document.write('script(src="/javascripts/jquery-2.2.4.min.js")');
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/reviewU.js')
    script(src='/javascripts/validation.js')
    if error
      script(src='/javascripts/modals/#{error.type}.js')
    if success
      script(src='/javascripts/modals/#{success.type}.js')
