extends layout

include _includes/sharedHTMLFunction.jade

block content
  button.close.pull-right(type="button")
    span &times 
  #banner.jumbotron
    .row
      .col-xs-12
        h1= pageHeader.title
        p.text-info 
          em &nbsp;#{pageHeader.strapline}
        if user
          p
            a.btn.btn-primary.btn-lg(href="#") Add New Place!
        else
          p
            a.btn.btn-primary.btn-lg(href="#") Join Us Now!            
  .row
    .col-xs-12.col-md-8
      ul.nav.nav-tabs.nav-justified
        li.active(role="presentation")
          a(href="#") Restaurants
        li(role="presentation")
          a(href="#") Bar&Cafe
        li(role="presentation")
          a(href="#") Shopping
        li(role="presentation")
          a(href="#") Services
      hr
      .error= message
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item.area
            h4
              a(href="/location/#{location._id}")= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                | &nbsp;
              a.btn.btn-info.btn-sm.pull-right.detail(href="/location/#{location._id}") Check details

    .col-xs-12.col-md-4
      include ./_includes/searchPanel
      p.lead= sidebar