extends layout

include _includes/sharedHTMLFunction.jade

block content
  button.close.pull-right(type="button")
    span &times 
  #banner.jumbotron
    .row
      .col-xs-12
        h1= pageHeader.title
        p.text-info 
          em &nbsp;#{pageHeader.strapline}
        if user
          p
            a.btn.btn-primary.btn-lg(href="#") Add New Place!
        else
          p
            a.btn.btn-primary.btn-lg(href="#") Join Us Now!            
  .row
    .col-xs-12.col-md-8
      .error= message
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item.area
            h4
              a(href="/location/#{location._id}")= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                | &nbsp;
              a.btn.btn-info.btn-sm.pull-right.detail(href="/location/#{location._id}") Check details

    .col-xs-12.col-md-4
      .panel.panel-info
        .panel-heading
          h2.panel-title Search Filter
        .panel-body
          form.form-horizontal(action="", method="get", role="form")
            .row
              .col-xs-12
                .input-group.input-group-sm
                  input.form-control(type='text' name='searchContent' placeholder='Which location...' required)
                  span.input-group-btn
                    button.btn.btn-default(type='submit') Search
                    button.btn.btn-default#searchMore(type='button')
                      span.caret      
            .row#searchPanel
              br
              .col-xs-12
                .panel.panel-default#searchPanel
                  .panel-body
                    .form-group
                      label.col-xs-2.control-label Rating
                      .col-xs-10
                        input.form-control(type="text")

      p.lead= sidebar